.decision-btn{
  width: 100px;
  padding: 10px;
  margin-left: 20%;
  margin-top: 20px;
  background-color: #4682A9;
}
.decision{
  display: flex;
  justify-content: center;
}
.decision-btns{
  display: flex;
  flex-direction: row;
  
  align-items: center;
}
.popup ,.popups{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}
.popups{
  z-index: 1001 !important;
}

.popup-inner {

  position: relative;
  padding: 32px;
  width: 65%;
  /*max-width: 90vh;*/
  background-color: #FFF;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 18px;

}

.meeting{
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased !important;
  color: #222;
  margin: auto;
  width: 400px;
}

.footer {
  margin: 50px 10px 0 10px;
  padding: 10px;
  border-top: #ddd solid 1px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

p,
a {
  font-size: 14px;
  text-align: center;
  display: block;
}

.react-scrollable-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  width: 640px;
  margin: 10px;
  overflow-y: scroll;
  border: #ddd solid 1px;
}

.react-scrollable-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  /*background-color: hsl(300, 84%, 65%);*/
  border-bottom: #bfafaf solid 1px;
}

.msl-vars {

  --input-width: 65vh !important;

}
@media (max-width: 480px){
  .kxPzAU{
    position: absolute;
  }
  .popup-inner{

    max-width:100% ;
  }
}
.logout{
  position: relative;
  padding: 32px;
  width: 25%;
  /*max-width: 90vh;*/
  background-color: #FFF;
}
.close-btn {
  position: absolute;
  top: 16px;
  right: 18px;
}
