@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(110deg, #526ecd, #fd6363, #f78ff7, #21e795);
  flex-direction: column;

}

.Main {

  display: flex;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /*background-image: linear-gradient(110deg,#526ecd,#fd6363,#f78ff7,#21e795);
*/
  background-color: #F6F4EB;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;


  /* background-image:linear-gradient(72deg,#526ecd,#21e795,#f78ff7) ; */
}

.auth-label,
.title {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-color: white;
  border-radius: 18px;
}

.submit-btn {
  border: none;
  background-color: #91C8E4;
  padding: 20px;
  border-radius: 20px;

}

.hbdymy {
  background: #F6F4EB !important;

}

.link-btn {
  border: none;
  background: none;
  color: #91C8E4;
  text-decoration: underline;
}

.title {
  font-size: 5vh;
}

.btn-toolbar,
.btn-group {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.btn-primary {
  margin: 0.25rem;
  padding: 10px 125px;
  border-radius: 17px;
}



.calendar {
  display: block;
  position: relative;
  background-color: #F6F4EB;
  max-height: 87.5vh;


}

.nav-link {
  border: none;

}

.nav-bar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  position: block;
  background-color: #749BC2;
  height: 75px;
}

.nav-menu {
  position: absolute;
  top: 16px;

}

.create-btn {
  width: 180px;
  height: 50px;
  background-color: #F6F4EB;
  border-radius: 10px;
}

.create-btn:hover {
  background-color: #3174ad;
}

.calendar-container {
  display: flexbox !important;
}

.hIcojO {
  padding: 1% !important;
}

.sign-btn {
  position: absolute;
  top: 16px;
  right: 0;
  display: flex;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #749BC2;
  color: #fff;
}

.menu-toggle {
  display: none;
  /* Hide the toggle button by default on larger screens */
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.nav-menu {

  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
}

.nav-menu img {

  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .kxPzAU {
    /*position: absolute !important;*/
    display: flex !important;
  }

  .iWIBpX {
    display: block !important;
  }

  .menu-toggle {
    display: block;
    /* Show the toggle button on smaller screens */
  }
  .nav-menu img{
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #749BC2;
    padding: 20px;
    display: none;
    /* Hide the menu by default on smaller screens */
  }

  .nav-menu.active {
    display: flex;

    position: absolute;

  }

  .nav-bar.menu-open {
    display: block;
    position: relative;
    width: 90%;

    z-index: 5;

  }

  .nav-menu a {
    margin: 10px 0;
  }
  .calendar.active{
    display: block;
    position: relative;
    margin-top: 150px;
  }
}